body{
    font-family: arial, helvetica, serif
}
p {
    font-size: 14px;
    color: green;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container4 {
    height: 10em;
    position: relative
}

div.container5 {
    margin: 0;
    position: absolute;
    top:    50%;
    left:   50%;
    margin-right: 50%;
    transform: translate(-50%, -50%)
}

pre {
    font-size: 0.7rem;
    margin: 0;
}
